<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springboot.sample" level="TRACE"/>
    <logger name="org.apache.ibatis" level="DEBUG"/>SD7gg

    <logger name="cc.home" level="DEBUG"/>


    <springProfile name="default">
        <property name="loggingRoot" value="c:\\Temp\\spider\\"/>
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>info</level>
            </filter>
        </appender>
    </springProfile>
    <springProfile name="dev">
        <property name="loggingRoot" value="/home/cheng/develop/logs/"/>
    </springProfile>
    <springProfile name="test">
        <property name="loggingRoot" value="/home/cheng/develop/logs/"/>
    </springProfile>
    <springProfile name="prd">
        <property name="loggingRoot" value="/home/cheng/develop/logs/" />
    </springProfile>



    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggingRoot}spider.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${loggingRoot}spider.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
            <charset>UTF-8</charset>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>


    <springProfile name="staging">
        <logger name="org.springboot.sample" level="INFO"/>
    </springProfile>


    <root level="info" additivity="false">
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>

</configuration>